.wrapper{
    display: flex;
    flex-wrap: wrap;
    max-width: 90vw;
    background-color: antiquewhite;
    margin: 20px;
    justify-content: center;
    align-items: center;
}

.card{
    width: 30%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px;
}

.card-img{
    width: 100%;
    height: 100%;
    margin: 0;
}

.card-titulo{
    width: 100%;
    margin: 0;
    text-align: center;
}